/* App.css */
.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  width: calc(100% / 3);
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.rect-area {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

#existing-filters {
  width: 100%;
  border-collapse: collapse;
}

#existing-filters th,
#existing-filters td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}